name: Flutter CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.2"

      - name: Disable Flutter analytics
        run: flutter config --no-analytics

      - name: Install dependencies
        run: flutter pub get

      # ----------- DECODE KEYSTORE -----------------
      - name: Decode keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > android/app/firstcallingapp.jks

      # ----------- VERIFY FILE EXISTS -----------------
      - name: Check keystore file exists
        run: ls -R android/app

      # ----------- CREATE key.properties -----------------
      - name: Create key.properties
        run: |
          printf "storePassword=${{ secrets.KEYSTORE_PASSWORD }}\nkeyPassword=${{ secrets.KEY_PASSWORD }}\nkeyAlias=${{ secrets.KEY_ALIAS }}\nstoreFile=firstcallingapp.jks" > android/app/key.properties

      # ----------- SHOW key.properties for debug (masked) -----------------
      - name: Show key.properties
        run: |
          sed 's/=.*/=***MASKED***/' android/app/key.properties

      # ----------- BUILD APK -----------------
      - name: Build APK
        run: flutter build apk --release

      # ----------- BUILD AAB -----------------
      - name: Build AAB
        run: flutter build appbundle --release

      # ----------- UPLOAD APK ARTIFACT -----------------
      - name: Upload Signed APK
        uses: actions/upload-artifact@v4
        with:
          name: signed-apk
          path: build/app/outputs/flutter-apk/app-release.apk

      # ----------- UPLOAD AAB ARTIFACT -----------------
      - name: Upload Signed AAB
        uses: actions/upload-artifact@v4
        with:
          name: signed-aab
          path: build/app/outputs/bundle/release/app-release.aab
