name: Build and Upload to Play Store

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.32.5"

      # Auto Versioning (VersionCode auto update)
      - name: Auto Increment Build Number
        run: |
          BUILD_NUMBER=$(date +%s)
          echo "Build Number: $BUILD_NUMBER"
          sed -i "s/version:.*/version: 1.0.0+${BUILD_NUMBER}/" pubspec.yaml

      - name: Decode Keystore
        run: echo "$KEYSTORE_BASE64" | base64 --decode > android/app/firstcallingapp.jks

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Build AppBundle
        run: flutter build appbundle --release
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Upload to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAYSTORE_JSON }}
          packageName: com.your.package.name
          releaseFile: build/app/outputs/bundle/release/app-release.aab
          track: internal
